{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Adventure</h1>
                <h2 class="mx-auto my-0 text-uppercase">is out there</h2>
                <button type="button" class="btn btn-outline-light"style="border-radius:50px;">DISCOVER</button>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0">
            <div class="col-lg-6">
                <a class="portfolio-item" href="{% url 'films' %}">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">FILMS</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="/media/up.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="{% url 'shorts' %}">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">SHORTS</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="/media/bao.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="{% url 'products' %}">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">SHOP</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="/media/inc.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="{% url 'profile' %}">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">LOGIN</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="/media/dory.jpg" alt="..." />
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'home/js/script.js' %}"></script>
{% endblock %}