{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block inner_content %}
<div class="container-fluid ps-md-0 card12">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center " style="margin-top:0!important; margin-bottom: 12rem!important;">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4 text-uppercase"style="color: #4CB3FF;font-family: 'Josefin Sans', sans-serif; ">Welcome back!</h3>

                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                <p>{% blocktrans with site.name as site_name %}Please sign in with one
                of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                <div class="socialaccount_ballot">

                  <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  </ul>

                  <div class="login-or">{% trans 'or' %}</div>

                </div>

                {% include "socialaccount/snippets/login_extra.html" %}

                {% else %}
                <p>{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}

                <form class="login" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <a class="btn btn-outline"style="color: #fff !important; background-color: #4CB3FF !important; border-color:#fff !important;border-radius:50px;" href="{% url 'home' %}">Home</a>
                  <button class="btn btn-outline"style="color: #4CB3FF !important; background-color: #fff !important; border-color: #4CB3FF!important;border-radius:50px;" type="submit">{% trans "Sign In" %}</button>
                  <p class="mt-2">
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
</div>