{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}

  <div class="container mb-2">
      <div class="row">
          <div class="col card1">
              <img class=" img-fluid rounded mx-auto d-block" src="/media/disgust.png" alt="boo" />
              <p class="text-center " style="font-family: sans-serif;  font-size: 1.5rem; font-weight:700;">You're Leaving?</p>
              <p class="text-center lead mb-5" style="margin-bottom: 20px !important;">{% trans 'Are you sure you want to sign out?' %}</p>
              <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <div class="text-center">
                <a class="btn btn-outline" href="{% url 'home' %}"style="border-radius:50px;color:#4CB3FF; border-color:#4CB3FF;" >Cancel</a>
                <button type="submit"class="btn btn-outline"
                style="color: #fff !important; background-color: #4CB3FF !important; border-color:#fff !important;border-radius:50px;">{% trans 'Sign Out' %}</button>
              </div>
              </form>                           
          </div>
      </div>
{% endblock %}
</div>

