{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid ps-md-0 card12">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image-3"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center " style="margin-top:0!important; margin-bottom: 12rem!important;">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <hr>
                <h2 class="logo-font "style="font-size: 1.5rem; margin-bottom:3rem;">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <a class="btn "style="margin-bottom:1rem;color: #4CB3FF !important; background-color: #fff !important; border-color: #4CB3FF!important;border-radius:50px;" href="{% url 'account_login' %}">Back to Login</a>
                            <input type="submit" class="btn text-uppercase" style="color: #fff !important; background-color: #4CB3FF !important; border-color:#fff !important;border-radius:50px;"name="action" value="{% trans 'change password' %}"/>
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
</div>