{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}



<div class="container-fluid ps-md-0 card12">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image-3"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center " style="margin-top:0!important; margin-bottom: 12rem!important;">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4 text-uppercase"style="color: #4CB3FF;font-family: 'Josefin Sans', sans-serif; ">{% trans "Password Reset" %}</h3>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a class="btn btn-outline"style="margin-bottom: 1rem; color: #4CB3FF !important; background-color: #fff !important; border-color: #4CB3FF!important;border-radius:50px;" href="{% url 'account_login' %}">Back to Login</a>
                    <input type="submit"class="btn btn-outline"style="color: #fff !important; background-color: #4CB3FF !important; border-color:#fff !important;border-radius:50px;" value="{% trans 'Reset My Password' %}" />
                </form>              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
</div>