{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid ps-md-0 card12">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image1"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center "
                style="margin-top:0!important; margin-bottom: 12rem!important;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <hr>
                            <h2 class="logo-font"style="margin-bottom:2rem;font-size:1.5rem;">{% trans "Change Password" %}</h2>
                            <p style="margin-bottom:3rem;">{% trans 'Your password has been changed successfully!' %}</p>
                                <a href="{% url 'account_login' %}" class=" btn btn-outline-primary"
                                    style="color: #fff !important; background-color: #4CB3FF!important; border-color:#fff !important;border-radius: 50px; font-size: 1rem;margin-bottom: 2rem;">Back to login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</div>

