{{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
    <div class="container-fluid ps-md-0 card12">
        <div class="row g-0">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center "
                    style="margin-top:0!important; margin-bottom: 12rem!important;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <hr>
                                <h2 class="logo-font mb-4">{% trans "Verify Your E-mail Address" %}</h2>
                                <hr>

                                <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided
                                    to finalize the signup process. Please contact us if you do not receive it within a few
                                    minutes.{% endblocktrans %}</p>
                                <a class="btn btn-outline"
                                    style="margin-bottom: 1rem; color: #4CB3FF !important; background-color: #fff !important; border-color: #4CB3FF!important;border-radius:50px;"
                                    href="{% url 'contact' %}">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
</div>