{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead16">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="{{ MEDIA_URL }}brave-logo.png " class="img-fluid"></a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1 card1" style="margin-top: 2.5rem;">
            <h5 class="text text-center"> Since ancient times, stories of epic battles and mystical legends have been
                passed through the generations across the rugged and mysterious Highlands of Scotland. A new tale joins
                the lore when the courageous Merida confronts tradition and challenges destiny to change her fate.
            </h5>
            <hr>
            <h2 class="trailers"> Trailers</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/V3qYadEBAnU" allowfullscreen>
                </iframe>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Merida </h2>
                <a href="#"><img src="{{ MEDIA_URL }}merida.png " class="img-fluid"></a>
                <h5 class="text">Passionate and fiery, Merida is a headstrong teenager of royal upbringing who is
                    struggling to take control of her own destiny. She feels most at home in the outdoors honing her
                    impressive athletic skills as an archer and swordfighter, and racing across the magnificent Highland
                    countryside with her faithful horse, Angus. With a spirit as vibrant as her untamed hair, Merida
                    also has a softness of heart, especially when it comes to her wee triplet brothers.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Queen Elinor</h2>
                <a href="#"><img src="{{ MEDIA_URL }}queen.png " class="img-fluid"></a>
                <h5 class="text">A vision of grace, wisdom and strength of character, Queen Elinor is fiercely dedicated
                    to the well being of her family and kingdom. As the measured, diplomatic counterpoint to her more
                    impulsive husband, King Fergus, Elinor carries the weight of the kingdom on her shoulders in order
                    to maintain the fragile peace between the volatile clans. Elinor strives to instill in Merida the
                    knowledge and manner of a royal, expecting complete commitment to Elinor’s standards. But her vision
                    of her daughter’s future is at odds with Merida’s rebellious spirit and desire to forge her own
                    path, which ultimately causes Elinor to face calamitous consequences.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">King Fergus</h2>
                <a href="#"><img src="{{ MEDIA_URL }}king.png " class="img-fluid"></a>
                <h5 class="text">King Fergus is a heroic warrior with a majestic bear cape, broad sword and a knobby peg
                    leg – the result of his much-regaled skirmish with the demon bear Mor’du. His vendetta against the
                    beast who took his leg makes Fergus a ferocious and determined bear hunter, evidenced by a home full
                    of mounted trophies of every size. Protector of his kingdom and family, Fergus has a heart as big as
                    his triplet sons are mischievous, and boundless love for his wife, Queen Elinor. But his pride for
                    his first-born daughter Merida is unmatched, and he has gifted her his great skill and passion for
                    the sword and the bow.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Triplets </h2>
                <a href="#"><img src="{{ MEDIA_URL }}triplets.png " class="img-fluid"></a>
                <h5 class="text">Identical triplets Harris, Hubert and Hamish are adorable, redheaded, and always ready
                    to stir up a bit of mischief, especially if sweets are at stake. They can communicate wordlessly
                    with their sly smiles, subtle glances and rascally giggles. This troublemaking trio is particularly
                    keen on sneaking through the secret passages of the castle, mysteriously appearing out of walls, and
                    playing clever tricks on everyone, especially their father, King Fergus. They share an extra special
                    bond with their big sister, Merida, who is among the few who can actually tell them apart.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Bear Queen</h2>
                <a href="#"><img src="{{ MEDIA_URL }}bear.png " class="img-fluid"></a>
                <h5 class="text">At first, Queen Elinor is determined not to let her new, ursine form get in the way of
                    her usual routines and manners. But she soon discovers that survival in the wild carries with it a
                    different set of rules, and realizes she must look to her daughter for guidance in this new and
                    unfamiliar environment.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Angus</h2>
                <a href="#"><img src="{{ MEDIA_URL }}angus.png " class="img-fluid"></a>
                <h5 class="text">Black as night with an ivory muzzle and fetlocks, Angus is Merida’s powerful Clydesdale
                    and her most trusted confidant. Angus is Merida’s escape from castle life into the deep forest and
                    the highlands beyond. Merida target shoots from her perch on his broad back and is able to coax him
                    into one adventure after another. Angus can be balky, stubborn and faint-hearted at times, but is
                    ultimately a devoted and faithful friend
                    to Merida.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">The Witch</h2>
                <a href="#"><img src="{{ MEDIA_URL }}witch.png " class="img-fluid"></a>
                <h5 class="text">Deep in the overgrown Highland forest, a ramshackle blackhouse cottage is home to the
                    Crafty Carver. This seemingly harmless, eccentric and long-in-the-tooth crone specializes in the
                    whittling of wooden bear trinkets, figurines and curios. But the mysterious recluse is more than
                    meets the eye. When Merida sees through the guise and reveals her as the Witch she truly is, Merida
                    begs for a magical solution to her problems. The Witch begrudgingly gives in, conjuring a haphazard
                    spell with an obscure riddle, which holds Merida’s fate in the balance.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">The Lords</h2>
                <a href="#"><img src="{{ MEDIA_URL }}lords.png " class="img-fluid"></a>
                <h5 class="text">The three lords of the kingdom – Dingwall, Macintosh and MacGuffin – are the unruly, overzealous leaders of their respective clans. Though once warring factions, they have been united under the sword of King Fergus and held together by the diplomacy and political savvy of Queen Elinor. The clans are summoned to Castle DunBroch to compete in the Highland Games, but the lords are soon outraged when Merida defies a sacred tradition. The clans fall back to their history of fervent feuding, which threatens the fragile peace of the entire kingdom.
                </h5>
                <hr>
            </div>
        </div>
    </div>

    <div class="btt-button shadow-sm rounded-0 border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
    {% endblock %}
    {% block postloadjs %}
        {{ block.super }}
        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>
    {% endblock %}