{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead27">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="{{ MEDIA_URL }}bug-logo.jpg " class="img-fluid"></a>
</div>
<div class="row">
    <div class="product-container col-10 offset-1 card1" style="margin-top: 2.5rem;">
        <h5 class="text text-center"> Meet Flik. Independent-thinker ant. The only insect capable of throwing a kink in
            the food chain. After one of Flik's inventions goes terribly wrong, he embarks on a mission to help save the
            colony from a gang of freeloading grasshoppers in order to get back in good graces with the Queen. But when
            the group of "warrior bugs" that Flik recruits turns out to be a bumbling circus troupe, he must believe in
            himself and his inventions to save Ant Island once and for all.
        </h5>
        <hr>
        <h2 class="trailers"> Trailers</h2>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/JIOW6TjHrFI" allowfullscreen>
            </iframe>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Flik</h2>
            <a href="#"><img src="{{ MEDIA_URL }}flik.png " class="img-fluid"></a>
            <h5 class="text">Everyone keeps telling Flik to stop questioning tradition and be a good worker ant, but he
                knows that's not his lot in life. Even when the going gets tough, this resourceful but misguided ant
                risks everything despite some major setbacks and the prevailing perception that he's a failure.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Princess Atta</h2>
            <a href="#"><img src="{{ MEDIA_URL }}atta.png " class="img-fluid"></a>
            <h5 class="text">Princess Atta often seems aggravated, but you would too if you were ascending to the throne
                and had to deal with a mean freeloading grasshopper. It takes a few tries for Atta to realize the
                colony's courage and strength, and to learn to trust her instincts as a leader.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Dot</h2>
            <a href="#"><img src="{{ MEDIA_URL }}dot.png " class="img-fluid"></a>
            <h5 class="text">As the Queen's youngest daughter, Dot proves that size doesn't matter when it comes to
                being a heroine. The pint-sized princess learns to spread her wings and convinces Flik to return to save
                the colony.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Queen</h2>
            <a href="#"><img src="{{ MEDIA_URL }}queen1.png " class="img-fluid"></a>
            <h5 class="text">The ant colony's miniature monarch has been around the island more than a few times and
                she's looking forward to retiring and letting Atta take over the throne.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Francis </h2>
            <a href="#"><img src="{{ MEDIA_URL }}francis.png " class="img-fluid"></a>
            <h5 class="text">A member of the circus crew, Francis is the misunderstood male ladybug. To compensate for
                his mistaken gender, he develops a macho attitude that can only be softened by Ant Island's young
                Blueberries troop.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Heimlich</h2>
            <a href="#"><img src="{{ MEDIA_URL }}caterpillar .png" class="img-fluid"></a>
            <h5 class="text">This Bavarian caterpillar who can't stomach the idea of a battle is happiest when he's
                munching on food. For Heimlich, eating large doesn't guarantee a set of large wings—but he loves them
                just the way they are.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Dim</h2>
            <a href="#"><img src="{{ MEDIA_URL }}dim.png " class="img-fluid"></a>
            <h5 class="text">At first glance he looks like a menacing insect, but Dim has a heart of gold. The lovable
                rhino beetle appears as the ferocious star of P.T. Flea's circus act, even though he has an extremely
                low tolerance for pain.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Tuck & Roll</h2>
            <a href="#"><img src="{{ MEDIA_URL }}roll.png " class="img-fluid"></a>
            <h5 class="text">These Hungarian pill bugs don't speak a word of English, but it's no problem when they're
                getting shot out of a cannon or performing acrobatic routines that always end in fights.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Manny & Gypsy</h2>
            <a href="#"><img src="{{ MEDIA_URL }}gypsy.png " class="img-fluid"></a>
            <h5 class="text">Manny is a pompous praying-mantis magician who prays for the good old days when audiences
                responded to his act. His moth mate, Gypsy, requires all eyes on her lovely wings and helps Manny look
                good in their performances.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Rosie</h2>
            <a href="#"><img src="{{ MEDIA_URL }}rosie.png " class="img-fluid"></a>
            <h5 class="text">Her husbands keep dying on her, but that doesn't stop this widowed black widow spider from spinning a (sometimes) successful career as a circus performer—and unlikely "warrior bug."
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Slim</h2>
            <a href="#"><img src="{{ MEDIA_URL }}slim.png " class="img-fluid"></a>
            <h5 class="text">Slim is an intellectual walking stick who takes his acting a bit too seriously. He often ponders his fate and wonders if he'll ever be able to break out of his circus role as the stick.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">P.T. Flea</h2>
            <a href="#"><img src="{{ MEDIA_URL }}flea.png " class="img-fluid"></a>
            <h5 class="text">P.T.'s a blood-sucking proprietor of a run-down insect circus that features some of the lousiest acts in the history of show business. He's always trying to make the fastest and easiest buck, even if that means setting himself on fire.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Hopper</h2>
            <a href="#"><img src="{{ MEDIA_URL }}hopper.png " class="img-fluid"></a>
            <h5 class="text">He's a mean, lean eating machine and can squash an ant's head with his foot if the food's not on the offering stone. Hopper's tough exterior conceals an even tougher interior and a superior intellect.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Molt</h2>
            <a href="#"><img src="{{ MEDIA_URL }}molt.png " class="img-fluid"></a>
            <h5 class="text">This grasshopper with a shedding problem would rather be a stand-up comedian than Hopper's tagalong sibling. Molt also has an unintentional way of messing up his brother's plans.
            </h5>
            <hr>
        </div>
    </div>
</div>

<div class="btt-button shadow-sm rounded-0 border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}