{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead11">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="{{ MEDIA_URL }}cars3-logo.jpeg "class="img-fluid"></a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1 card1" style="margin-top: 2.5rem;">
            <h5 class="text text-center"> Blindsided by a new generation of blazing-fast racers, the legendary Lightning McQueen (voice of Owen Wilson) is suddenly pushed out of the sport he loves. To get back in the game, he will need the help of an eager young race technician with her own plan to win, inspiration from the late Fabulous Hudson Hornet, and a few unexpected turns. Proving that #95 isn’t through yet will test the heart of a champion on Piston Cup Racing’s biggest stage!
            </h5>
            <hr>
            <h2 class="trailers"> Trailers</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/2LeOH9AGJQM" allowfullscreen>
                </iframe>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Lightning McQueen</h2>
                <a href="#"><img src="{{ MEDIA_URL }}mcqueen.png " class="img-fluid"></a>
                <h5 class="text">Lightning McQueen is a world-champion racer who’s riding high with five Piston-Cup wins under his hood. Suddenly, he finds himself faced with a new generation of racers who threaten not only his dominance in the sport—but the confidence that got him there. Determined to get back into the pole position, #95 must decide if his love for racing is enough to fuel the comeback of his life. “We were really intrigued by what happens to athletes who are in the twilight of their careers,” says director Brian Fee. “All Lightning McQueen has ever wanted is to be a champion—and he’s done that. Does that mean his life is over? He doesn’t know anything else.”
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Cruz Ramirez</h2>
                <a href="#"><img src="{{ MEDIA_URL }}cruzz.png " class="img-fluid"></a>
                <h5 class="text">Cruz Ramirez is a tech-savvy, unconventional trainer at the Rust-eze Racing Center. She expertly arms the team’s talented rookies with cutting-edge tools to tear up the track—but she nearly stalls when Piston-Cup champion Lightning McQueen shows up. While she’d love to help him find his way back to the top, she knows the competition is faster than ever, and victory is all about speed—or is it?
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Jackson Storm </h2>
                <a href="#"><img src="{{ MEDIA_URL }}storm.png " class="img-fluid"></a>
                <h5 class="text">Jackson Storm is fast, sleek and ready to win. A front-runner in the next generation of racers, Storm’s quiet confidence and cocky demeanor are off-putting—but his unmatched speed threatens to redefine the sport. Trained on high-tech simulators that are programmed to perfect technique and maximize velocity, Jackson Storm is literally built to be unbeatable—and he knows it. “Jackson Storm epitomizes the next-gen racers,” says Armie Hammer, who voices the character. “They’re young, brash and confident. Jackson Storm is newer and faster. He can calculate the drag coefficient on the spot. It’s hard to compete with that.” 
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Smokey</h2>
                <a href="#"><img src="{{ MEDIA_URL }}smokey.png " class="img-fluid"></a>
                <h5 class="text">Former Piston Cup team owner Smokey teamed up with the Fabulous Hudson Hornet back in the ‘50s. His gruff exterior and strong opinions served him well as crew chief—and he owns what’s arguably the best dang garage in town. He still wrestles with trusting his head or his gut, but when it comes to his friends—he’s all heart.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Sterling</h2>
                <a href="#"><img src="{{ MEDIA_URL }}sterling.png " class="img-fluid"></a>
                <h5 class="text">Sterling is a brilliant “business car” who runs Rust-eze Racing Center—one of the most successful elite training facilities in the country. Despite his dapper appearance and obvious wealth, Sterling comes across as unassuming and laid-back. But business is business, and Sterling is driven to ensure all of his investments pay off.
                </h5>
                <hr>
            </div>
        </div>
    </div>

    <div class="btt-button shadow-sm rounded-0 border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
    {% endblock %}
    {% block postloadjs %}
        {{ block.super }}
        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>
    {% endblock %}