{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead17">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="/media/cars2-logo.jpg "class="img-fluid"></a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1 card1" style="margin-top: 2.5rem;">
            <h5 class="text text-center"> Star racecar Lightning McQueen and the incomparable tow truck Mater take their friendship to exciting new places in Cars 2 when they head overseas to compete in the first-ever World Grand Prix to determine the world's fastest car. But the road to the championship is filled with plenty of potholes, detours, and hilarious surprises when Mater gets caught up in an intriguing adventure of his own: international espionage.
            </h5>
            <hr>
            <h2 class="trailers"> Trailers</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/D8m9qWJA2qo" allowfullscreen>
                </iframe>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Mater </h2>
                <a href="#"><img src="/media/mater.png " class="img-fluid"></a>
                <h5 class="text">In the now-popular tourist destination of Radiator Springs, the rusty old tow truck Mater has a number of roles, including proprietor of Tow Mater Towing and Salvage, grand storyteller, and the heart and soul of the town. But Mater’s favorite title is best friend to Lightning McQueen. Mater values each and every dent he’s earned on his escapades with Lightning over the years, and anxiously awaits further fun with his friend when Lightning returns with his latest Piston Cup.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Lightning McQueen</h2>
                <a href="#"><img src="/media/mcqueen.png " class="img-fluid"></a>
                <h5 class="text">Number 95 Lightning McQueen is still a hotshot race car, but his rookie days are past him. Now a permanent resident of Radiator Springs, Lightning has become a bona fide worldwide celebrity as winner of four Piston Cups.

                    After his latest win, Lightning returns home to enjoy life in the slow lane for a while with sweetheart Sally, best friend Mater and the rest of his Radiator Springs family. His off-season is unexpectedly cut short when Mater inadvertently prompts Lightning to enter the World Grand Prix, a high profile, three-part exhibition race that will take him around the globe.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Francesco Bernoulli </h2>
                <a href="#"><img src="/media/francesco.png " class="img-fluid"></a>
                <h5 class="text">Francesco Bernoulli grew up in the shadow of the famous Monza racecourse in Italy, where he and his friends would sneak onto the track and race the famous Pista di Alta Velocita bank turn. He was an instant winner on the amateur circuit and soon became an international Formula Racer champion. The ladies love Francesco’s open wheels, youngsters look up to his winning spirit, and fellow racers envy his speed.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Finn McMissile </h2>
                <a href="#"><img src="/media/finn.png " class="img-fluid"></a>
                <h5 class="text">Finn McMissile is a master British spy. Though charming and eloquent, it’s his stealth maneuvering, intelligence, and years in the field that enable him to thwart unexpected attacks from bad guys and make quick daredevil escapes.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Holley Shiftwell </h2>
                <a href="#"><img src="/media/holley.png " class="img-fluid"></a>
                <h5 class="text">Holley Shiftwell is a beautiful young British desk agent turned rookie field spy stationed in Tokyo. Well educated and sharp, she knows every trick in the book—or rather, she relies on every trick in the spy manual. She’s armed with the latest state-of-the-art spy equipment imaginable, from hidden cameras and concealed weapons to a telescoping utility arm and a holographic
                    pop-up display. 
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Professor Z</h2>
                <a href="#"><img src="/media/z.png " class="img-fluid"></a>
                <h5 class="text">Professor Z, aka The Professor, is an internationally wanted weapons designer in a small, sophisticated German package. He's a brilliant—but mad—monocle-wearing scientist who's plotting to sabotage the World Grand Prix. Though his true motive is unclear, Professor Z is willing to do whatever it takes to eliminate all obstacles and keep the “project” on schedule.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Siddeley</h2>
                <a href="#"><img src="/media/siddeley.png " class="img-fluid"></a>
                <h5 class="text">Siddeley is a state-of-the-art British twin-engine spy jet. Measuring 176 feet from nose to tail with an impressive 157-foot wingspan, the super sleek, silver-bodied Siddeley streaks through international skies at Mach 1 speeds. Outfitted with all the latest in high-tech spy equipment including cloaking technology, defensive weaponry, and afterburners, Siddeley is Finn McMissile’s steadfast partner in fighting crime around the globe.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Miles Axlerod</h2>
                <a href="#"><img src="/media/miles.png " class="img-fluid"></a>
                <h5 class="text">TSir Miles Axlerod is a former oil baron who has sold off his fortune, converted himself into an electric vehicle, and devoted his life to finding the renewable, clean-burning energy source of the future—ultimately discovering what he believes is the fuel everyone should be using. Axlerod is also the creator of the World Grand Prix, a three-country race that attracts the world’s top athletes. But the race is really an excuse to show off his new wonder-fuel, Allinol.
                </h5>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}