{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead3">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto text-uppercase" style="margin-top:10rem;">Feature films</h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container"> 
  <div class = "row">
    <div class="d-flex justify-content-around " style="margin-top:5rem;">
          <div class="text-center col-sm">
            <a href="{% url 'luca' %}"><img src="/media/luca.jpg" class="img-fluid" style="width:70%;" alt="luca"></a>
          </div>
          <div class="text-center col-sm">
            <a href="{% url 'soul' %}"><img src="/media/soul.jpg" class="img-fluid" style="width:70%;" alt="soul"></a>
          </div>
          <div class="text-center col-sm">
            <a href="{% url 'onward' %}"><img src="/media/onward.jpg" class="img-fluid" style="width:70%;" alt="onward"></a>
          </div>
      </div>
  </div>
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col-sm">
        <a href="{% url 'toy4' %}"><img src="/media/toy4.jpg" class="img-fluid" style="width:70%;" alt="toy4"></a>
      </div>
      <div class="text-center col-sm">
        <a href="{% url 'i2' %}"><img src="/media/i2.png" class="img-fluid" style="width:70%;" alt="incredibles2"></a>
      </div>
      <div class="text-center col-sm">
        <a href="{% url 'coco' %}"><img src="/media/coco.jpg" class="img-fluid" style="width:70%;" alt="coco"></a>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col3">
        <a href="{% url 'cars3' %}"><img src="/media/cars3.jpg" class="img-fluid" style="width:70%;" alt="cars3"></a>
      </div>
      <div class="text-center col3">
        <a href="{% url 'dory' %}"><img src="/media/dory2.jpg" class="img-fluid" style="width:70%;" alt="dory"></a>
      </div>
      <div class="text-center col3">
        <a href="{% url 'dino' %}"><img src="/media/dino.jpg" class="img-fluid" style="width:70%;" alt="dino"></a>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col3">
        <a href="{% url 'io' %}"><img src="/media/io.jpg" class="img-fluid" style="width:70%;" alt="inside-out"></a>
      </div>
      <div class="text-center col3">
        <a href="{% url 'mu' %}"><img src="/media/MU.jpg" class="img-fluid" style="width:70%;" alt="MU"></a>
      </div>
      <div class="text-center col3">
        <a href="{% url 'brave' %}"><img src="/media/brave.jpg" class="img-fluid" style="width:70%;" alt="brave"></a>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col3">
        <a href="{% url 'cars2' %}"><img src="/media/cars2.jpg" class="img-fluid" style="width:70%;" alt="cars2"></a>
      </div>
      <div class="text-center col3">
        <a href="{% url 'toy3' %}"><img src="/media/toy3.jpg" class="img-fluid" style="width:70%;" alt="toy-story-3"></a>
      </div>
      <div class="text-center col3">
        <a href="{% url 'up' %}"><img src="/media/up2.jpg" class="img-fluid" style="width:70%;" alt="up"></a>
      </div>
    </div>  
  </div> 
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;"> 
      <div class="text-center col3">
        <a href="{% url 'walle' %}"><img src="/media/walle.jpg" class="img-fluid" style="width:70%;" alt="walle"></a>
      </div>
      <div class="text-center col3">
        <a href="{% url 'rat' %}"><img src="/media/rat.jpg" class="img-fluid" style="width:70%;" alt="rat"></a>
      </div>
      <div class="text-center col3">
        <a href="{% url 'cars' %}"><img src="/media/cars.jpg" class="img-fluid" style="width:70%;" alt="cars"></a>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col3">
        <a href="{% url 'incredibles' %}"><img src="/media/incredibles.jpg" class="img-fluid" style="width:70%;" alt="incredibles"></a>
      </div> 
      <div class="text-center col3">
        <a href="{% url 'nemo' %}"><img src="/media/nemo.jpg" class="img-fluid" style="width:70%;" alt="nemo"></a>
      </div>  
      <div class="text-center col3">
        <a href="{% url 'monsters' %}"><img src="/media/monsters.jpg" class="img-fluid" style="width:70%;" alt="monsters"></a>
      </div> 
    </div> 
  </div> 
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col3">
        <a href="{% url 'toy2' %}"><img src="/media/toy2.jpg" class="img-fluid" style="width:70%;" alt="toy-story-2"></a>
      </div> 
      <div class="text-center col3">
        <a href="{% url 'bug' %}"><img src="/media/bug.jpg" class="img-fluid" style="width:70%;" alt="bugs-life"></a>
      </div> 
      <div class="text-center col3">
        <a href="{% url 'toy1' %}"><img src="/media/toy1.jpg" class="img-fluid" style="width:70%;" alt="toy-story-1"></a>
      </div> 
    </div>
  </div>
</div>
</div>

<div class="btt-button shadow-sm rounded-0 border-black">
  <a class="btt-link d-flex h-100">
      <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
  </a>	
</div>
{% endblock %}
{% block postloadjs %}
  {{ block.super }}
  <script type="text/javascript">
  $('.btt-link').click(function(e) {
    window.scrollTo(0,0)
  })
</script>
{% endblock %}