{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead3">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto text-uppercase" style="margin-top:10rem;">Feature films</h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container"> 
  <div class = "row">
    <div class="d-flex justify-content-around " style="margin-top:5rem;">
          <div class="text-center col-sm">
            <img src="/media/luca.jpg" href="{% url 'luca' %}"class="img-fluid" style="width:70%;" alt="luca">
          </div>
          <div class="text-center col-sm">
            <img src="/media/soul.jpg" class="img-fluid" style="width:70%;" alt="soul">
          </div>
          <div class="text-center col-sm">
            <img src="/media/onward.jpg" class="img-fluid" style="width:70%;"alt="onward">
          </div>
      </div>
  </div>
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col-sm">
        <img src="/media/toy4.jpg" class="img-fluid" style="width:70%;"alt="Toy Story 4">
      </div>
      <div class="text-center col-sm">
        <img src="/media/i2.png" class="img-fluid" style="width:70%;"alt="incredibles 2">
      </div>
      <div class="text-center col-sm">
        <img src="/media/coco.jpg" class="img-fluid" style="width:70%;"alt="coco">
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col3">
        <img src="/media/cars3.jpg" class="img-fluid" style="width:70%;"alt="cars 3">
      </div>
      <div class="text-center col3">
        <img src="/media/dory2.jpg" class="img-fluid" style="width:70%;"alt="finding Dory">
      </div>
      <div class="text-center col3">
        <img src="/media/dino.jpg" class="img-fluid" style="width:70%;"alt="The good dinosaur">
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col3">
        <img src="/media/io.jpg" class="img-fluid" style="width:70%;"alt="Inside Out">
      </div>
      <div class="text-center col3">
        <img src="/media/MU.jpg" class="img-fluid" style="width:70%;"alt="Monsters University">
      </div>
      <div class="text-center col3">
        <img src="/media/brave.jpg" class="img-fluid" style="width:70%;"alt="brave">
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col3">
        <img src="/media/cars2.jpg" class="img-fluid" style="width:70%;"alt="cars 2">
      </div>
      <div class="text-center col3">
        <img src="/media/toy3.jpg" class="img-fluid" style="width:70%;"alt="Toy story 3">
      </div>
      <div class="text-center col3">
        <img src="/media/up2.jpg" class="img-fluid" style="width:70%;"alt="up">
      </div>
    </div>  
  </div> 
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;"> 
      <div class="text-center col3">
        <img src="/media/walle.jpg" class="img-fluid" style="width:70%;"alt="walle">
      </div>
      <div class="text-center col3">
        <img src="/media/rat.jpg" class="img-fluid" style="width:70%;"alt="ratatouille">
      </div>
      <div class="text-center col3">
        <img src="/media/cars.jpg" class="img-fluid" style="width:70%;"alt="cars">
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col3">
        <img src="/media/incredibles.jpg" class="img-fluid" style="width:70%;"alt="the incredibles">
      </div> 
      <div class="text-center col3">
        <img src="/media/nemo.jpg" class="img-fluid" style="width:70%;"alt="nemo">
      </div>  
      <div class="text-center col3">
        <img src="/media/monsters.jpg" class="img-fluid" style="width:70%;"alt="monsters inc">
      </div> 
    </div> 
  </div> 
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col3">
        <img src="/media/toy2.jpg" class="img-fluid" style="width:70%;"alt="toy story 2">
      </div> 
      <div class="text-center col3">
        <img src="/media/bug.jpg" class="img-fluid" style="width:70%;"alt="a bugs life">
      </div> 
      <div class="text-center col3">
        <img src="/media/toy1.jpg" class="img-fluid" style="width:70%;"alt="toy story">
      </div> 
    </div>
  </div>
</div>
</div>

{% endblock %}