{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead9">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="/media/i2-logo.png " class="img-fluid"></a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1 card1" style="margin-top: 2.5rem;">
            <h5 class="text text-center"> Everyone’s favorite family of superheroes is back in “Incredibles 2” – but
                this time Helen (voice of Holly Hunter) is in the spotlight, leaving Bob (voice of Craig T. Nelson) at
                home with Violet (voice of Sarah Vowell) and Dash (voice of Huck Milner) to navigate the day-to-day
                heroics of “normal” life. It’s a tough transition for everyone, made tougher by the fact that the family
                is still unaware of baby Jack-Jack’s emerging superpowers. When a new villain hatches a brilliant and
                dangerous plot, the family and Frozone (voice of Samuel L. Jackson) must find a way to work together
                again—which is easier said than done, even when they’re all Incredible.
            </h5>
            <hr>
            <h2 class="trailers"> Trailers</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/i5qOzqD9Rms" allowfullscreen>
                </iframe>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Helen Parr</h2>
                <a href="#"><img src="/media/helen.png " class="img-fluid"></a>
                <h5 class="text">Helen Parr, known in the Superworld as Elastigirl, hung up her supersuit to raise the
                    family with husband Bob, leaving their crime-fighting days behind them. But when she’s tapped to
                    lead a campaign to bring the Supers back into the spotlight, she finds she can still bend, stretch
                    and twist herself into any shape needed to solve the trickiest of mysteries. In short, she’s still
                    got it. That’s good news, too, because a new villain has emerged—unlike any they’ve ever seen
                    before.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Bob Parr</h2>
                <a href="#"><img src="/media/bob.png " class="img-fluid"></a>
                <h5 class="text">Bob Parr cherishes his days as Mr. Incredible—a popular Super with mega-strength and the power to singlehandedly take out the bad guys. Ever since Supers were outlawed, Bob’s been mostly lying low, raising the family alongside his wife Helen. But when she’s called on to stretch her Super skills and hopefully change the public perception of Supers for the better, Bob must manage the household on his own, which calls for a completely different set of super powers.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Jack-Jack Parr </h2>
                <a href="#"><img src="/media/jack.png " class="img-fluid"></a>
                <h5 class="text">Jack-Jack Parr, the baby of the family, likes to sit back with a bottle and a good story. Well-versed in gibberish with a penchant for throwing food, Jack-Jack may seem like a typical toddler, but he just might turn out to be the most powerful Parr in the household—if only his family had a clue of what this kid can really do. 
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Violet Parr</h2>
                <a href="#"><img src="/media/violet.png " class="img-fluid"></a>
                <h5 class="text">Violet Parr the firstborn of the Parr clan, is an introverted and intelligent 14-year-old teen that doesn’t quite fit in with the normal crowd. Socially awkward, outspoken and sarcastic, Violet plays her teenager role to perfection—all while secretly mastering her superpowers of invisibility and creating force fields. A Super at heart, Violet can’t help her urge to fight crime alongside her family.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Dashiell Parr </h2>
                <a href="#"><img src="/media/dash.png " class="img-fluid"></a>
                <h5 class="text">Dashiell Parr (Dash) is a 10-year-old boy—restless, relentless, curious—though his remarkable power of Super speed certainly sets him apart. Dash sports a hearty sense of adventure and a boundless supply of energy. He’d love nothing more than to show off his special skills and fight a few bad guys along the way—and doesn’t understand why he has to keep his powers a secret. 
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Edna</h2>
                <a href="#"><img src="/media/edna.png " class="img-fluid"></a>
                <h5 class="text">Edna "E" Mod possesses impeccable design sense, a keen understanding of cutting-edge technology and an unmatched skillset. A creative visionary, she longs for the return of Supers so she can once again create functional yet edgy supersuits. The petite and powerful fashionista treats her clients like family, dahling, but sticks firmly to her long-held assertion: No capes!
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Screenslaver</h2>
                <a href="#"><img src="/media/slaver.png " class="img-fluid"></a>
                <h5 class="text">Although the Screenslaver remains mysterious, the diabolical use of technology to control the people of Municiberg may be the most dangerous threat the Incredibles have ever faced.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Lucius Best</h2>
                <a href="#"><img src="/media/frozone.png " class="img-fluid"></a>
                <h5 class="text">Lucius Best (Frozone) is not only Bob’s best friend, he’s a fellow-former Super who’s so chill, he can make ice with the point of a finger. But even when he’s not fighting crime as Frozone, Lucius is all about style. He has a quick wit and a cool, can-do attitude—and he wouldn’t think twice about breaking out his supersuit if it could help bring Supers out of hiding.
                </h5>
                <hr>
            </div>
        </div>
    </div>

    <div class="btt-button shadow-sm rounded-0 border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
    {% endblock %}
    {% block postloadjs %}
        {{ block.super }}
        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>
    {% endblock %}