{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead23">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="{{ MEDIA_URL }}incredibles-logo.jpeg " class="img-fluid"></a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1 card1" style="margin-top: 2.5rem;">
            <h5 class="text text-center"> It takes a will of steel to hide your superhero talents from a world that
                still needs you, yet no longer appreciates what you can do. Battling a bulging belly and a boring job,
                Mr. Incredible longs for the glory days of upholding law and order while his superhuman family tries to
                fit in with their "normal" life. Relief from quiet suburbia finally comes years later, when the family
                uncovers a diabolical plan and must bring together their respective strengths to save the day.
            </h5>
            <hr>
            <h2 class="trailers"> Trailers</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/Mld9JmwtgsM" allowfullscreen>
                </iframe>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Mr. Incredible</h2>
                <a href="#"><img src="{{ MEDIA_URL }}bob.png " class="img-fluid"></a>
                <h5 class="text">Once the best-known, most popular superhero alive, Bob Parr is now fifteen years older
                    and is bolder and heavier. As a claims adjuster at possibly the world’s worst insurance company,
                    Insuricare, the former Mr. Incredible’s heroics are limited to helping people navigate the
                    intricacies of the appeals system. Bob’s unhappiness has taken a toll and he and his family have
                    become disconnected. Bob thinks the best years of his life are in the past, but what he will
                    discover is that his family is his greatest adventure.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Elastigirl</h2>
                <a href="#"><img src="{{ MEDIA_URL }}helen.png " class="img-fluid"></a>
                <h5 class="text">Helen Parr, the former super-stretching superhero, has adjusted to normal life quite
                    well, and is busily focused on caring for her three children. While she occasionally uses her
                    amazing ability to stretch to meet the daily challenges of modern motherhood, she is careful to do
                    so only behind the closed doors of their suburban home. She misses the old days, but doesn’t dwell
                    on those times as she has a wonderful family and is quite happy to spend her time with them. She
                    only wishes Bob would do the same.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Dash</h2>
                <a href="#"><img src="{{ MEDIA_URL }}dash.png " class="img-fluid"></a>
                <h5 class="text">At age ten, Dash seems to be moving even when standing still. Full of restless energy,
                    he has the power of super-speed – a power so useful for playing pranks that he has difficulty
                    keeping it in check. Dash doesn’t understand why superheroes should hide their powers – why would
                    they have them if they weren’t supposed to use them?
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Violet </h2>
                <a href="#"><img src="{{ MEDIA_URL }}violet.png " class="img-fluid"></a>
                <h5 class="text">Violet Parr is, in many ways, a typical shy, insecure teenage girl stuck at the
                    crossroads between child and woman. She, like her parents and brother Dash, has special powers, and
                    it seems only right that hers allow her to turn invisible and protect herself with a secure force
                    field. For what would be better for an awkward young woman but to be able to disappear from her
                    problems at a moments notice? Especially for someone who desperately wants to be like everybody
                    else, normal, but truly isn’t.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Syndrome </h2>
                <a href="#"><img src="{{ MEDIA_URL }}syndrome.png " class="img-fluid"></a>
                <h5 class="text">Syndrome wasn’t born with superpowers, but envied the attention and admiration the
                    Supers received. Of all the Supers, Mr. Incredible embodied everything Syndrome desired: strength,
                    fame, and popularity. Highly intelligent and cunning, Syndrome now spends his days on a remote
                    island on the other side of the world inventing gadgets and robots to carry out a diabolical plot.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Edna</h2>
                <a href="#"><img src="{{ MEDIA_URL }}edna.png " class="img-fluid"></a>
                <h5 class="text">Brilliant and successful, Edna Mode got her start in the industry as the world’s
                    leading superhero costume designer. With her now-mature sense of design, she remains the top
                    designer in the field, taking her clothing designs to Milan, Paris and other internationally
                    important fashion centers. However, E longs for the return of the superheroes, for a real design
                    challenge, so she can fuse the latest technology with her impeccable fashion sense and unfurl her
                    incredible creations for the adoring public.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Jack-Jack</h2>
                <a href="#"><img src="{{ MEDIA_URL }}jack.png " class="img-fluid"></a>
                <h5 class="text">Jack-Jack is the black sheep of the family. He is nearly two years old, and it seems
                    the only thing incredible that he can do is jabber in gibberish. He’s very good at that— as well as
                    throwing food at dinnertime. Hey, that’s what being a baby is all about! But who knows, maybe
                    someday…He is an Incredible after all…
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Frozone</h2>
                <a href="#"><img src="{{ MEDIA_URL }}frozone.png " class="img-fluid"></a>
                <h5 class="text">Lucius Best used to be known as the coolest superhero on the planet – and not just
                    because he was best friends with Mr. Incredible. His style, wit and attitude made Frozone, as he was
                    known then, the hippest of the lot. Of course his powers made him cool too, literally. Lucius’
                    ability to create ice from moisture in the air, and then travel on it with his special boots, made
                    him the envy of every gadget-loving little boy. Lucius knows the old days are done and there’s no
                    going back, so he doesn’t try to relive the past. But he knows Bob still wants to, and he tries to
                    help him adjust in any way he can.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Mirage</h2>
                <a href="#"><img src="{{ MEDIA_URL }}mirage.png " class="img-fluid"></a>
                <h5 class="text">Syndrome's mysterious love interest might be drawn to power, but she quickly learns the consequences when power is in the wrong hands.
                </h5>
                <hr>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
    {% endblock %}
    {% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function (e) {
            window.scrollTo(0, 0)
        })
    </script>
    {% endblock %}