{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead5">
</header>
{% endblock %}

{% block content %}
    <div class='luca-logo'>
        <a href="#"><img src="/media/luca-logo.jpg "class="img-fluid"></a>
    </div>

    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="product-container col-10 offset-1 card1"style="margin-top: 2.5rem;">
            <h5 class="text text-center"> Set in a beautiful seaside town on the Italian Riviera, Disney and Pixar’s original feature film “Luca” is a coming-of-age story about one
                young boy experiencing an unforgettable summer filled with gelato, pasta and endless scooter rides. Luca shares these adventures
                with his newfound best friend, but all the fun is threatened by a deeply-held secret: they are sea monsters from another world just below
                the water’s surface.
            </h5>
            <hr>
             <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/mYfJxlgR2jw" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}