{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead5">
</header>
{% endblock %}

{% block content %}
    <div class='luca-logo'>
        <a href="#"><img src="{{ MEDIA_URL }}luca-logo.jpg "class="img-fluid"></a>
    </div>

    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="product-container col-10 offset-1 card1"style="margin-top: 2.5rem;">
            <h5 class="text text-center"> Set in a beautiful seaside town on the Italian Riviera, Disney and Pixar’s original feature film “Luca” is a coming-of-age story about one
                young boy experiencing an unforgettable summer filled with gelato, pasta and endless scooter rides. Luca shares these adventures
                with his newfound best friend, but all the fun is threatened by a deeply-held secret: they are sea monsters from another world just below
                the water’s surface.
            </h5>
            <hr>
            <h2 class="trailers"> Trailers</h2>
             <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/mYfJxlgR2jw" allowfullscreen>
                </iframe>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Luca Paguro</h2>
                <a href="#"><img src="{{ MEDIA_URL }}luca-character.png "class="img-fluid"></a>
                <h5 class="text">Luca Paguro is a bright and inventive 13-year-old sea monster with endless curiosity—especially when it comes to the mysterious world above the sea. Although he’s been warned his whole life that the human world is a dangerous place, he longs for something beyond his quiet farm life where he herds goatfish day after day. So when another sea monster with actual experience above the surface takes Luca under his fin, his eyes open up to a whole world of possibilities.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Alberto Scorfano</h2>
                <a href="#"><img src="{{ MEDIA_URL }}alberto-character.png "class="img-fluid"></a>
                <h5 class="text">Alberto Scorfano is an independent, free-spirited teenage sea monster with unbridled enthusiasm for the human world. Expressive and gregarious, he is all about having fun, so inviting a fellow sea monster to hang out above the surface is a no-brainer for Alberto. Besides, Luca is the perfect audience for Alberto’s vast—albeit questionable—knowledge of all things human.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Giulia Marcovaldo</h2>
                <a href="#"><img src="{{ MEDIA_URL }}guilia-character.png "class="img-fluid"></a>
                <h5 class="text">Giulia Marcovaldo is an outgoing and charming adventurer with a love of books and learning. She only spends summers in Portorosso, so she hasn’t cultivated many friendships, which makes her an easy target of the town bully. But when two new kids show up who clearly need an ally, Giulia is more than happy to oblige—especially when they agree to team up with her in a local race she desperately wants to win.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Ercole Visconti</h2>
                <a href="#"><img src="{{ MEDIA_URL }}ercole.png "class="img-fluid"></a>
                <h5 class="text">Ercole Visconti is the bully of the small Italian town of Portorosso and repeat champion of the town’s Portorosso Cup race. He’s a Vespa-owning, pompadoured blowhard who believes that everyone loves him and enjoys watching him eat sandwiches. He has two worshipful followers, Ciccio and Guido, who accompany him everywhere, ready to do his bidding. 
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Massimo Marcovaldo</h2>
                <a href="#"><img src="{{ MEDIA_URL }}massimo.png "class="img-fluid"></a>
                <h5 class="text">Giulia’s dad, is an imposing, tattooed, one-armed fisherman of few words. Luca and Alberto can’t help but be intimidated by his formidable size and skill with a knife, but Massimo has a soft heart, especially for his daughter.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Daniela Paguro</h2>
                <a href="#"><img src="{{ MEDIA_URL }}mom.png "class="img-fluid"></a>
                <h5 class="text">Daniela Paguro is Luca’s loving mother, who’s determined to keep her son safe. She regularly warns Luca of the dangers beyond the sea and the land monsters who live there. Daniela is no pushover: If she thinks Luca is breaking her number-one rule—don’t go near the surface—she’ll go to great lengths to stop him. 
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Lorenzo Paguro</h2>
                <a href="#"><img src="{{ MEDIA_URL }}dad.png "class="img-fluid"></a>
                <h5 class="text">Lorenzo Paguro is Luca’s well-meaning and loving dad. Though he has a tendency to be distracted, when he’s tipped off to his son’s dangerous adventure, he, alongside his wife, Daniela, will go to great lengths to protect him.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Grandma Paguro</h2>
                <a href="#"><img src="{{ MEDIA_URL }}grandma.png "class="img-fluid"></a>
                <h5 class="text">Grandma Paguro and Luca have an understanding. She sees the spark in her grandson’s eye, his longing for more, and celebrates it—albeit secretly. Grandma knows that breaking a rule or two is part of growing up, and she’s a little too happy to look the other way if Luca’s rebellious side should emerge.What his parents don’t know probably won’t kill them.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Uncle Ugo</h2>
                <a href="#"><img src="{{ MEDIA_URL }}uncle.png "class="img-fluid"></a>
                <h5 class="text">Uncle Ugo,perhaps Luca’s strangest and most bizarre relative, emerges from the deepest part of the ocean to help Daniela and Lorenzo convince Luca of the dangers of the surface. Like Luca, Ugo once wondered about the world beyond the surface. But following a near-death encounter he learned to steer clear, relocating to his deep-water home where it’s pitch dark, bitterly cold and far, far away from the scary humans above the sea—just the way he likes it.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Machiavelli</h2>
                <a href="#"><img src="{{ MEDIA_URL }}cat.png "class="img-fluid"></a>
                <h5 class="text">Machiavelli is Giulia’s sweet-natured pet cat—sweet natured to humans, that is. When Machiavelli meets Luca and Alberto, he immediately senses there’s something fishy about them. And he loves the taste of fish.
                </h5>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
{% endblock %}