{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead25">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="/media/monsters-logo.jpg " class="img-fluid"></a>
</div>
<div class="row">
    <div class="product-container col-10 offset-1 card1" style="margin-top: 2.5rem;">
        <h5 class="text text-center"> There's a reason why there are monsters in children's closets—it's their job.
            Monsters, Inc. is the most successful scream-processing factory in the monster world, and there is no better
            Scarer than James P. Sullivan. But when "Sulley" accidentally lets a little human girl into Monstropolis,
            life turns upside down for him and his buddy Mike.
        </h5>
        <hr>
        <h2 class="trailers"> Trailers</h2>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/LF6X4W_OQr8" allowfullscreen>
            </iframe>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">James P. “Sulley” Sullivan</h2>
            <a href="#"><img src="/media/sully1.png " class="img-fluid"></a>
            <h5 class="text">James P. “Sulley” Sullivan may be the most celebrated Scarer in Monstropolis, but that
                doesn't make him mean. When the softhearted monster has to care for Boo, he discovers that love and
                laughter are more powerful than making kids scream.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Mike Wazowski</h2>
            <a href="#"><img src="/media/mike1.png " class="img-fluid"></a>
            <h5 class="text">Sulley's scare assistant, best friend, and roommate doesn't want any interruptions in his
                life—especially in his relationships. Although Mike thinks Boo is a "killing machine" at first, he later
                finds she's a great audience for his natural comedic talent.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Boo</h2>
            <a href="#"><img src="/media/boo1.png " class="img-fluid"></a>
            <h5 class="text">Boo has a vocabulary of about three words, but that doesn't stop this curious human girl
                from stealing Sulley's heart and overcoming her fear of Randall.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Randall Boggs</h2>
            <a href="#"><img src="/media/randall.png " class="img-fluid"></a>
            <h5 class="text">Able to scare even his co-workers with his chameleon abilities, Randall is one of the most
                wicked monsters in Monstropolis. His plan to capture the all-time scare record only scratches the
                surface of his sinister agenda.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Henry J. Waternoose III </h2>
            <a href="#"><img src="/media/henry.png " class="img-fluid"></a>
            <h5 class="text">Monsters, Inc. has been in the Waternoose family for generations, and Henry J. Waternoose
                III will do anything to beat the scream shortage and make his company profitable again.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Roz</h2>
            <a href="#"><img src="/media/roz.png " class="img-fluid"></a>
            <h5 class="text">Dispatch Manager Roz may be slow moving and slow talking, but the quick-witted slug has her
                eye on everything—including Mike Wazowski’s lack of paperwork. She's a No. 1 nut in Mike's book and a
                No. 1 boss to others.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Celia</h2>
            <a href="#"><img src="/media/celia.png " class="img-fluid"></a>
            <h5 class="text">The factory's one-eyed, snake-haired receptionist must put her birthday celebration on hold
                as she gets caught in the middle of Sulley and Mike's crazy predicament. Luckily, her love for Mike
                prevails and she comes to his rescue.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Yeti</h2>
            <a href="#"><img src="/media/yeti.png " class="img-fluid"></a>
            <h5 class="text">Known as the Abominable Snowman to humans, this banished monster spends his time in the
                cold Himalayas making lemon-flavored snow cones.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">George Sanderson</h2>
            <a href="#"><img src="/media/george.png " class="img-fluid"></a>
            <h5 class="text">This easygoing monster has the worst of luck, coming into contact with human items and
                attracting the attention of the Child Detection Agency (CDA), no thanks to his tattletale Scare
                assistant.
            </h5>
            <hr>
        </div>
        <div class="text-center characters">
            <h2 class="trailers">Child Detection Agency</h2>
            <a href="#"><img src="/media/child.png " class="img-fluid"></a>
            <h5 class="text">Saving Monstropolis from human contamination is no small task. Clad in yellow suits, the highly trained Child Detection Agency (CDA) teams work around the clock eliminating wayward human goods and disinfecting hapless monsters. Nothing gets past these guys—not even a sock.
            </h5>
            <hr>
        </div>
    </div>
</div>


<div class="btt-button shadow-sm rounded-0 border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}