{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead15">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="{{ MEDIA_URL }}mu-logo.png " class="img-fluid"></a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1 card1" style="margin-top: 2.5rem;">
            <h5 class="text text-center"> We all know Mike Wazowski and James P. Sullivan to be an inseparable pair, but
                that wasn’t always the case. From the moment these two mismatched monsters met they couldn't stand each
                other. Monsters University unlocks the door to how Mike and Sulley overcame their differences and became
                the best of friends.
            </h5>
            <hr>
            <h2 class="trailers"> Trailers</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/hleiZCo80sQ" allowfullscreen>
                </iframe>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Mike Wazowski</h2>
                <a href="#"><img src="{{ MEDIA_URL }}mike.png " class="img-fluid"></a>
                <h5 class="text">Mike Wazowski’s lifelong dream is to become a Scarer at Monsters, Inc.—and he’s sure he
                    knows just how to do it. Ever since he was a young monster, Mike’s had his eye on Monsters
                    University, home of the world’s top Scare Program. Now a freshman and hopeful scare student, he’s
                    well versed in the rich history, theory and technique required to reach his goal, and the little
                    green one-eyed monster has more confidence, enthusiasm, determination and heart than all of his
                    classmates combined. But unexpected roadblocks derail Mike’s plans and he’s forced to team up with a
                    group of misfit monsters and an unlikely ally to give it the old college try and pull off the
                    biggest coup in the University’s history.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">James P. Sullivan</h2>
                <a href="#"><img src="{{ MEDIA_URL }}sully.png " class="img-fluid"></a>
                <h5 class="text">When it comes to scaring, Sulley’s a natural—his abundant size, fierce roar and family
                    legacy of a long line of high-achieving Scarers make him a shoo-in for the esteemed Scare Program at
                    Monsters University. But from the moment the overly confident monster steps his big furry feet on
                    campus, it’s clear he’d rather crack jokes than books—and he learns the hard way that his unfettered
                    talent and family ties can only get him so far. With his ego bruised and future in jeopardy, a
                    stubborn Sulley must put his pride aside, team up with an odd bunch of misfit monsters and actually
                    work if he wants to live up to his true scaring potential.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Randy Boggs</h2>
                <a href="#"><img src="{{ MEDIA_URL }}randy.png " class="img-fluid"></a>
                <h5 class="text">Monsters University freshman Randy Boggs has big aspirations for college life. The
                    peculiar lizard-like monster with his host of gangly arms and legs plans to major in Scaring and
                    lead an active social life filled with fun, friends and fraternity parties. If only he could get his
                    embarrassing disappearing habit under control, he’d be good to go, because how is he ever going to
                    be a great Scarer if nobody
                    can see him?
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Dean Hardscrabble</h2>
                <a href="#"><img src="{{ MEDIA_URL }}dean.png " class="img-fluid"></a>
                <h5 class="text">To Dean Hardscrabble, there are scary monsters and there are all other monsters. It’s
                    no surprise she feels this way—she is, after all, a legendary Scarer and Dean of the School of
                    Scaring at Monsters University. Aspiring Scare students must be up for the challenge to impress her,
                    though she is convinced that her assessment of who is truly scary and who is not is never wrong.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Scott "Squishy" Squibbles</h2>
                <a href="#"><img src="{{ MEDIA_URL }}squishy.png " class="img-fluid"></a>
                <h5 class="text">Scott Squibbles gives new meaning to the term “undeclared.” A sophomore whose dream of
                    becoming a Scarer was squashed in his first year at Monsters University, “Squishy” is a bit of a
                    wide-eyed wanderer—small, sweet, naïve and quiet—who, not surprisingly, still lives with his doting
                    mother. But with a little help from his Oozma Kappa brothers, Squishy begins to realize he’s more
                    than just that shy monster
                    in the corner.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Don Carlton</h2>
                <a href="#"><img src="{{ MEDIA_URL }}don.png " class="img-fluid"></a>
                <h5 class="text">Faced with the realities of the economic downturn, Midwestern sales monster Don Carlton
                    finds himself going back to school to learn new skills and pursue a dream career in Scaring. One of
                    Monsters University's “mature” students and a founding member of the Oozma Kappa fraternity, Don
                    brings his honest hardworking spirit to their endeavors, ensuring that his fellow brothers keep
                    their various heads on straight and their array of eyes on the task
                    at hands.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Terri & Terry Perry</h2>
                <a href="#"><img src="{{ MEDIA_URL }}terri.png " class="img-fluid"></a>
                <h5 class="text">When it comes to Terri and Terry, it's hard not to ask, “Are two heads really better than one?”  These bickering brothers have little in common: Terri with an “i” is a real romantic who's quick to spot the silver lining in any situation, while older brother Terry with a “y” sports a more cynical outlook on life. If they can stop squabbling long enough to work with their Oozma Kappa brothers, they might be able to put their heads together-literally-and find their place in Monsters University's Scare Program once and for all.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Art</h2>
                <a href="#"><img src="{{ MEDIA_URL }}art.png " class="img-fluid"></a>
                <h5 class="text">The ultimate free spirit, Art is a mysterious monster with a questionable background. By far the strangest member of the Oozma Kappas, Art bowls over the competition-sometimes literally-with his unique dexterity and wild-card ways. Nothing is scarier than the unpredictable, especially when it comes to this furry ball of bad.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Mrs. Squibbles</h2>
                <a href="#"><img src="{{ MEDIA_URL }}mrs.png " class="img-fluid"></a>
                <h5 class="text">Ms. Squibbles is a doting, single parent who encourages, accommodates, and more so, coddles her only son, Scott “Squishy” Squibbles. Squishy is 19 years old and still lives at home, but who can blame him? Ms. Squibbles is Monstropolis’ best mom—she cooks for him, does his laundry; she even acts as house mom when he has his “little friends” over
                    to play fraternity.  
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Oozma Kappa</h2>
                <a href="#"><img src="{{ MEDIA_URL }}kappa.png " class="img-fluid"></a>
                <h5 class="text">A collection of wholesome, good-natured misfits, the adorable brothers of Oozma Kappa (OK) have bonded over their inability to make it through the Scaring Program.  With only four bodies in the house they don’t even have enough members to compete in the Scare Games, but what they lack in scariness and self-confidence they make up for in heart.  
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Roar Omega Roar</h2>
                <a href="#"><img src="{{ MEDIA_URL }}roar.png " class="img-fluid"></a>
                <h5 class="text">The Roar Omega Roar (ROR) fraternity is made up of the best of the best. They’re the smartest, most skilled, scariest monsters at Monsters University, and come from families with a long, proud history of scaring.  While the RORs may be preppy in dress, they are ferocious in action and determined to always be on top no matter how ruthless they have to be.  Self-declared as the most elite house on campus, the RORs are lead by President Johnny Worthington who presides over the house like an all-powerful monarch.  Eager to continue their Scare Games winning streak, the RORs will do whatever it takes to stay on top.  
                </h5>
                <hr>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
    {% endblock %}
    {% block postloadjs %}
        {{ block.super }}
        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>
    {% endblock %}