{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead24">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="{{ MEDIA_URL }}nemo-logo.jpg " class="img-fluid"></a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1 card1" style="margin-top: 2.5rem;">
            <h5 class="text text-center"> In the colorful and warm tropical waters of the Great Barrier Reef, a Clown
                Fish named Marlin lives safe and secluded in his anemone home with his only son, Nemo. Fearful of the
                ocean and its unpredictable risks, he struggles to protect his son. Nemo, like all young fish, is eager
                to explore the mysterious reef. When Nemo is unexpectedly taken far from home and thrust into a tacky
                dentist’s office fish tank, Marlin finds himself the unlikely hero on an epic journey to rescue his son.
            </h5>
            <hr>
            <h2 class="trailers"> Trailers</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/VtZ6C3M0q28" allowfullscreen>
                </iframe>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Nemo</h2>
                <a href="#"><img src="{{ MEDIA_URL }}nemo1.png " class="img-fluid"></a>
                <h5 class="text">Nemo is a curious and impressionable six-year-old, only child who lives with his
                    overprotective, single-parent father, Marlin. Having led a sheltered life, Nemo brims with the
                    excitement of starting school and finally seeing the wonders of the Great Barrier Reef. Despite
                    being born with a withered fin, Nemo yearns for adventure, and as fate takes him far from home, he
                    learns he is capable of doing great things.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Marlin</h2>
                <a href="#"><img src="{{ MEDIA_URL }}marlin1.png " class="img-fluid"></a>
                <h5 class="text">Sheltered deep within The Great Barrier reef, safe inside his anemone home, lives
                    Marlin. After losing his wife and family to the ocean, Marlin is left alone to raise his only
                    surviving child, Nemo. He vows never to let anything happen to his son. A loving and responsible
                    father, Marlin keeps his noble promise throughout Nemo’s early years. However, Marlin’s fear and
                    distrust of the sea builds, and he struggles with his inability to let go of Nemo as his son begins
                    school. When Nemo is suddenly taken away, Marlin must try to find in himself the courage, wisdom,
                    and faith needed to search the unpredictable ocean to bring his boy home – the very characteristics
                    he needs to allow his son to learn and grow.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Dory </h2>
                <a href="#"><img src="{{ MEDIA_URL }}dory.png " class="img-fluid"></a>
                <h5 class="text">Throughout the vast ocean you will not find a fish more hospitable, more friendly, or
                    more sociable than Dory. She would love to chat with you all day and tell you her life story, but
                    she can’t. Dory suffers from short term memory loss. Dory is the aquatic Good Samaritan who offers
                    to help Marlin on his journey to find his son. She is certainly an odd partner for such a quest, but
                    her optimism proves an invaluable quality to help Marlin overcome the impossible. To Dory, the glass
                    is always half-full.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Gill</h2>
                <a href="#"><img src="{{ MEDIA_URL }}gill.png " class="img-fluid"></a>
                <h5 class="text">Gill is the maverick of the dentist’s office fish tank. He is the leader of an eclectic
                    gang of fish, who hang on his every word and are drawn to his magnetic personality. This tough,
                    scarred, one-finned fish was raised in the ocean, but taken at a young age to live in a tank.
                    Surrounded by fish who have spent their entire lives in “the box,” Gill alone feels the pull to be
                    free. Though he dreams of one day breaking out and returning to the ocean, his failed escape
                    attempts have broken his spirit. With Nemo's arrival to the tank, Gill is inspired again to find a
                    way back to
                    the sea.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">The Tank Gang </h2>
                <a href="#"><img src="{{ MEDIA_URL }}tank.png " class="img-fluid"></a>
                <h5 class="text">No matter where you're from—the ocean, eBay, Pet Palace, or mail order—being stuck in a
                    kitschy dentist's aquarium can do things to a fish. Led by escape artist Gill, Peach, Bloat, Gurgle,
                    Deb, Bubbles, and Jacques make life livable with tiki-inspired tank rituals, all the while dreaming
                    of getting back into the Big Blue.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Sharks</h2>
                <a href="#"><img src="{{ MEDIA_URL }}sharks.png " class="img-fluid"></a>
                <h5 class="text">Bruce, Anchor and Chum are mates. Anchor is cynical; he hates dolphins. Chum is
                    hyperactive; he can’t keep still. Bruce is the jolly leader of the pack. All three are members of a
                    Fish-Eaters Anonymous Group, and are tormented by their natural urge to eat fish and their resulting
                    unpopularity amongst the general ocean population. Consequently, they have embraced a “veggie”
                    lifestyle, allegedly swearing off fish, and living off politically correct kelp instead.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Turtles</h2>
                <a href="#"><img src="{{ MEDIA_URL }}turtles.png " class="img-fluid"></a>
                <h5 class="text">Crush and his offspring Squirt know how to chill and go with the flow, especially the
                    one created by the East Australian Current. The two have a righteous bond that's totally sweet.
                    After 150 years of living in the ocean, Crush knows a thing or two about being a good parent.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Nigel</h2>
                <a href="#"><img src="{{ MEDIA_URL }}nigel.png " class="img-fluid"></a>
                <h5 class="text">Nigel is a tough old local bird. He likes to hang out on the docks with his other
                    pelican mates and carry on. But Nigel has a guilty pleasure the others don’t know about; he loves to
                    sneak off and spend hours in the dentist office window, diagnosing dental problems with his fish
                    friends in the tank.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Dentist/Darla</h2>
                <a href="#"><img src="{{ MEDIA_URL }}darla.png " class="img-fluid"></a>
                <h5 class="text">Don't be angry with the dentist for taking Nemo—from his point of view, he was rescuing a struggling fish destined to be eaten. The dentist's niece Darla, on the other hand, can't seem to shake her habit of shaking the bags containing her fishy gifts. 
                </h5>
                <hr>
            </div>
        </div>
    </div>


    <div class="btt-button shadow-sm rounded-0 border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
    {% endblock %}
    {% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function (e) {
            window.scrollTo(0, 0)
        })
    </script>
    {% endblock %}