{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead21">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="/media/rat-logo.jpeg " class="img-fluid"></a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1 card1" style="margin-top: 2.5rem;">
            <h5 class="text text-center"> A rat named Remy dreams of becoming a great chef despite his family's wishes,
                and the obvious problem of being a rat in a decidedly rodent-phobic profession. When fate places Remy in
                the sewers of Paris, he finds himself ideally situated beneath a restaurant made famous by his culinary
                hero, Auguste Gusteau. Remy's passion for cooking soon sets into motion a hilarious and exciting rat
                race that turns the world of Paris upside down.
            </h5>
            <hr>
            <h2 class="trailers"> Trailers</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/LrGgU2WXnf8" allowfullscreen>
                </iframe>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Remy </h2>
                <a href="#"><img src="/media/remy.png " class="img-fluid"></a>
                <h5 class="text">Rats are no strangers to rejection, but Remy, a rat who longs to be a great chef, has
                    more than the usual obstacles to overcome. His remarkable sense of smell and genius for combining
                    flavors puts him head and shoulders above most human chefs. However, in the rat world he’s resigned
                    to a life of being the “poison sniffer,” using his unique talent to pick out the safe garbage for
                    his family to eat.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Auguste Gusteau</h2>
                <a href="#"><img src="/media/chef.png " class="img-fluid"></a>
                <h5 class="text">The late Auguste Gusteau, France’s all-time greatest culinary genius, is the author of
                    Anyone Can Cook, the cookbook that inspires Remy's dream of becoming a chef. Gusteau's Paris
                    restaurant became a landmark on the strength of his imaginative vision and masterful preparation,
                    which simultaneously honored and played with the traditions of French cuisine. Gusteau died
                    mysteriously soon after his restaurant was downgraded from five stars to four (by food critic Anton
                    Ego), but his spirit lives on in his recipes and Remy’s imagination—the great chef is a recurring
                    figure as Remy’s imaginary soul mate and counselor.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Linguini</h2>
                <a href="#"><img src="/media/linguini.png " class="img-fluid"></a>
                <h5 class="text">Linguini, a timid and well-meaning young man, is the new garbage boy at Gusteau’s.
                    After a series of ill-fated jobs, Linguini is desperate to hold onto this one, which he sees as his
                    last hope. A chance encounter with Remy thrusts Linguini into a highly unusual “ghost-cooking”
                    relationship, in which he provides the gangly brawn for Remy’s culinary brains. As Remy’s food
                    attracts more and more attention, the pair is subject to increasingly intense scrutiny. But for
                    Linguini, the opportunity to spend time around his new mentor, Colette, makes all the stress
                    manageable—barely.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Colette</h2>
                <a href="#"><img src="/media/colette.png " class="img-fluid"></a>
                <h5 class="text">Colette is the toughest chef and the only female in the kitchen at Gusteau’s. Her grit,
                    talent, and intimidating air have brought her far, but years of climbing the ladder in the
                    male-dominated world of haute cuisine have made her wary and self-contained. At first, she is
                    exasperated at being assigned to babysit Linguini as he begins his trial period as a chef. But as
                    time passes, Linguini’s vulnerability and guilelessness begin to win
                    her over.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Anton Ego</h2>
                <a href="#"><img src="/media/ego.png " class="img-fluid"></a>
                <h5 class="text">Anton Ego, the most powerful food critic in Paris, can make or break a restaurant with
                    a single review. The sight of his dour, colorless, unsmiling face strikes fear into the heart of
                    even the most complacently successful of culinary celebrities. Chefs have become so afraid of
                    displeasing “The Grim Eater,” as he is commonly known, that no one dares to change a menu without
                    his blessing. Ego has grown accustomed to this power over the years and by now regards it as his
                    due.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Skinner</h2>
                <a href="#"><img src="/media/skinner.png " class="img-fluid"></a>
                <h5 class="text">Skinner, whose modest physical stature belies a domineering, even sadistic personality,
                    is the chef in charge at Gusteau’s. Once the sous-chef to Gusteau himself, Skinner assumed control
                    of the restaurant and business when the great chef died without an heir, and promptly set about
                    exploiting Gusteau’s reputation with an extensive and mercenary line of Gusteau-branded products,
                    from pizzas to frozen burritos. He’s driven the restaurant, once a temple of culinary art, into a
                    profitable but soulless luxury meal machine.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Chefs</h2>
                <a href="#"><img src="/media/chefs.png " class="img-fluid"></a>
                <h5 class="text">Like a band of pirates, many nationalities often comprise the team of line chefs working in France's best restaurants. They hail from all over the world, drawn to the ship-like kitchens of the master chefs to rigorously train under the best. The kitchen can also be compared to a military operation: each chef is assigned a title, station, and specific tasks. The motley characters of Horst, Lalo, and Larousse round out the ranks at Gusteau’s.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Emile</h2>
                <a href="#"><img src="/media/Emile.png " class="img-fluid"></a>
                <h5 class="text">Emile, Remy’s little brother, is a rat’s rat—a little overweight and good-natured, he loves life and all things edible and inedible. He doesn’t always understand the finer points of his brother’s obsession with good food, but he is always ready to support Remy on one of his harebrained errands or cheer him up when he's feeling low.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Django</h2>
                <a href="#"><img src="/media/django.png " class="img-fluid"></a>
                <h5 class="text">Django, Remy’s father, is the patriarch of the rat clan. Django expects his oldest son, Remy, to one day take over the responsibilities of leading and providing for the extended rat family, but he is frustrated by his son’s finicky reluctance to eat perfectly good garbage. To Django, it’s clear that “humans=death” and a restaurant kitchen is no place for Remy to be hanging around, not to mention cooking.
                </h5>
                <hr>
            </div>
        </div>
    </div>

    <div class="btt-button shadow-sm rounded-0 border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
    {% endblock %}
    {% block postloadjs %}
        {{ block.super }}
        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>
    {% endblock %}