{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead4">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container"> 
  <div class = "row">
    <div class="d-flex justify-content-around " style="margin-top:5rem;">
          <div class="text-center col-sm">
            <a href="{% url 'lava' %}"><img src="/media/lava.jpg" class="img-fluid" style="width:70%;" alt="umbrella"></a> 
          </div>
          <div class="text-center col-sm">
            <a href="{% url 'bao' %}"><img src="/media/bau_poster.jpg" class="img-fluid" style="width:70%;" alt="bao"></a>
          </div>
          <div class="text-center col-sm">
            <a href="{% url 'burrow' %}"><img src="/media/burrow_poster_2020.jpg" class="img-fluid" style="width:70%;" alt="burrow"></a> 
          </div>
      </div>
  </div>
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col3">
        <a href="{% url 'cloudy' %}"><img src="/media/cloudy.jpg" class="img-fluid" style="width:70%;" alt="cloudy"></a>
      </div>
      <div class="text-center col3">
        <a href="{% url 'day' %}"><img src="/media/day_night.jpg" class="img-fluid" style="width:70%;" alt="day"></a>
      </div>
      <div class="text-center col3">
        <a href="{% url 'piper' %}"><img src="/media/piper.jpg" class="img-fluid" style="width:70%;" alt="piper"></a>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col3">
        <a href="{% url 'lou' %}"><img src="/media/lou_small2.jpg" class="img-fluid" style="width:70%;" alt="lou"></a>
      </div>
      <div class="text-center col3">
        <a href="{% url 'luna' %}"><img src="/media/luna.jpg" class="img-fluid" style="width:70%;" alt="luna"></a>
      </div>
      <div class="text-center col3">
        <a href="{% url 'presto' %}"><img src="/media/presto.jpg" class="img-fluid" style="width:70%;" alt="presto"></a>
      </div>
    </div>  
  </div> 
  <div class = "row">
    <div class="d-flex justify-content-around" style="margin-top:5rem;">
      <div class="text-center col3">
        <a href="{% url 'sanjay' %}"><img src="/media/sanjay.jpg" class="img-fluid" style="width:70%;" alt="sanjay"></a>
      </div> 
    </div> 
  </div> 
</div>
</div>

{% endblock %}