{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead6">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="{{ MEDIA_URL }}soul_logo.jpg" class="img-fluid" alt="soul"></a>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1 card1" style="margin-top: 2.5rem;">
            <h5 class="text text-center"> What is it that makes you...YOU? “Soul” introduces Joe Gardner (voice of Jamie
                Foxx) – a middle-school band teacher who has a passion for jazz. “Joe wants more than anything to become
                a professional jazz pianist,” says director Pete Docter. “So when he’s offered a rare,
                once-in-a-lifetime opportunity to play with one of the greats, Joe feels he’s reached the top of the
                ultimate mountain.”
                But one small misstep takes him from the streets of New York City to The Great Before – a fantastical
                place where new souls get their personalities, quirks and interests before they go to Earth. According
                to Docter, the idea for this unique world was 23 years in the making. “It started with my son—he’s 23
                now—but the instant he was born, he already had a personality,” says Docter. “Where did that come from?
                I thought your personality developed through your interaction with the world. And yet, it was pretty
                clear that we’re all born with a very unique, specific sense of who we are.
            </h5>
            <hr>
            <h2 class="trailers"> Trailers</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/xOsLIiBStEs" allowfullscreen>
                </iframe>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Joe Gardner</h2>
                <a href="#"><img src="{{ MEDIA_URL }}joe.png" class="img-fluid" alt="joe"></a>
                <h5 class="text">A middle-school band teacher, Joe Gardner’s life hasn’t quite gone the way he’s
                    expected. While teaching is a noble profession, his true passion is playing jazz, and he’s good. Joe
                    believes he was born to play professionally, and though he’s 46 years old, he feels his opportunity
                    to land a high-profile gig could come any day. Joe has an encyclopedic knowledge of jazz history,
                    and even if his passion for music may have hampered his social life over the years, it hasn’t
                    hampered his confidence. He lives alone, immersing himself in what he loves best: music. That is,
                    until a single unexpected step sends him to the cosmic realms where he finds the “You Seminar” and
                    is forced to think again about what his life is all about.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">22</h2>
                <a href="#"><img src="{{ MEDIA_URL }}22.png" class="img-fluid" alt="22"></a>
                <h5 class="text">22 is a precocious soul who has spent hundreds of years at The You Seminar, where new
                    souls must meet several requirements before going to Earth. Like every soul before her, 22 has been
                    through the Personality Pavilions, which explains her endearing sarcasm, quick wit and occasional
                    moodiness. She’s met every requirement to go to Earth—except one. But no matter how many visits she
                    makes to the Hall of Everything, no matter how many esteemed luminaries have mentored her, she can’t
                    find the spark she needs to fulfill her requirements and make her way to Earth. That’s fine with 22;
                    the truth is—she’s not interested in life on Earth at all. Can Joe convince her otherwise?
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Dez</h2>
                <a href="#"><img src="{{ MEDIA_URL }}dez.png" class="img-fluid" alt="dez"></a>
                <h5 class="text">Dez is Joe’s longtime barber and professional listener. Friendly with a warm smile and
                    sense of humor, Dez has known Joe for years. He gladly lets his client talk about anything he
                    wants—which for Joe, of course, is jazz.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Dorothea Williams </h2>
                <a href="#"><img src="{{ MEDIA_URL }}dorothea.png" class="img-fluid" alt="Dorothea"></a>
                <h5 class="text">Dorothea Williams is a world-renowned jazz legend who’s earned her place among the
                    greats. Confident, strong and poised, she is also truly talented when it comes to her saxophone
                    playing. Dorothea exudes pure confidence on stage and suffers no fools when it comes to jazz or
                    life. Her band is her family, and joining that family is an honor she’s willing to extend to very
                    few. It’s not easy to impress Dorothea, but it’s worth trying.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Libba Gardner </h2>
                <a href="#"><img src="{{ MEDIA_URL }}libba.png" class="img-fluid" alt="libba"></a>
                <h5 class="text">Libba Gardner is Joe’s mother, his biggest fan, and his kind-hearted truth-teller. She
                    is a proud businesswoman who’s owned a successful tailor shop in Queens for decades. Her late
                    husband, Joe’s father, was a struggling musician, so Libba was the primary breadwinner for the
                    family. She knows that life as a musician can be brutal, so she encourages Joe to have a backup
                    plan, which he interprets as a lack of support. But no matter how pragmatic Libba can be, above all,
                    she loves Joe and wants him to be happy.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Moonwind</h2>
                <a href="#"><img src="{{ MEDIA_URL }}moonwind.png" class="img-fluid" alt="moonwind"></a>
                <h5 class="text">Moonwind is the product of a midlife awakening, which led his former self to change his
                    name and his day job to seek a happier life. Moonwind is now a devoted sign twirler on a Manhattan
                    street corner—an activity that brings him joy, putting him into the zone, which allows him to
                    mentally and spiritually journey to a mystical place called The Astral Plane (near The Great
                    Before), where he rescues lost souls from their uninspiring, stressful lives.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Miho</h2>
                <a href="#"><img src="{{ MEDIA_URL }}miho.png" class="img-fluid" alt="miho"></a>
                <h5 class="text">Miho is the stand-up bass player rounding out the Dorothea Williams Quartet. Cool and
                    reserved, she exudes casual confidence both on and off-stage.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Curley</h2>
                <a href="#"><img src="{{ MEDIA_URL }}curley.png" class="img-fluid" alt="curley"></a>
                <h5>Curley is one of Joe Gardner’s former students who nurtured his own passion for music into
                    adulthood, landing a coveted spot in Dorothea Williams’ jazz quartet. The accomplished drummer never
                    forgot his favorite teacher-slash-jazz pianist, so when an opportunity for a piano player arises,
                    Curley gets Joe the audition of a lifetime. Miho is the stand-up bass player rounding out the
                    Dorothea Williams Quartet. Cool and reserved, she exudes casual confidence both on and off-stage.
                </h5>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="btt-button shadow-sm rounded-0 border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}