{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead18">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="/media/toy3-logo.jpeg " class="img-fluid"></a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1 card1" style="margin-top: 2.5rem;">
            <h5 class="text text-center"> The creators of the beloved Toy Story films re-open the toy box and bring
                moviegoers back to the delightful world of our favorite gang of toy characters in Toy Story 3. As Andy
                prepares to depart for college, Buzz, Woody, and the rest of his loyal toys are troubled about their
                uncertain future.

                Toy Story 3 is a comical adventure that lands the toys in a room full of untamed tots who can't wait to
                get their sticky little fingers on these "new" toys. It's pandemonium as the toys try to stay together,
                ensuring that "no toy gets left behind."
            </h5>
            <hr>
            <h2 class="trailers"> Trailers</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/aGYxNuodVOU" allowfullscreen>
                </iframe>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Woody </h2>
                <a href="#"><img src="/media/woody.png " class="img-fluid"></a>
                <h5 class="text">Woody is a cowboy sheriff who proclaims his signature catchphrases from the 1950s TV
                    show Woody’s Roundup every time his pull-string is pulled. He’s always been Andy’s favorite toy.
                    Even though his owner is now grown, the loyal sheriff Woody maintains a steadfast belief that Andy
                    still cares about his toys.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Buzz Lightyear</h2>
                <a href="#"><img src="/media/buzz.png " class="img-fluid"></a>
                <h5 class="text">Buzz Lightyear is a heroic space ranger action figure, complete with laser beam,
                    karate-chop action, and pop-out wings. Buzz is a boy’s dream toy who becomes a quick favorite of
                    young Andy and the closest of buddies with Woody. While Buzz’s sole mission used to be defeating the
                    evil Emperor Zurg, what he now cares about most is keeping his toy family together. Buzz’s new
                    mission is sidetracked along the way, however, when his journey brings out surprising aspects of his
                    personality even he didn’t know existed.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Lotso </h2>
                <a href="#"><img src="/media/lotso.png " class="img-fluid"></a>
                <h5 class="text">Lotso is a jumbo, extra-soft teddy bear with a pink and white plush body and a velvety
                    purple nose. This lovable bear ranks fuzzy heads and shoulders above other teddy bears because he
                    smells like sweet strawberries. With a smile that will light up your child’s face and a belly just
                    asking to be hugged, Lotso Bear is sure to become a bedtime necessity. Stain resistant. Spot clean
                    plush surface with a damp cloth.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Andy's Toys </h2>
                <a href="#"><img src="/media/toys.png " class="img-fluid"></a>
                <h5 class="text">Created to be loved by generations, Andy’s toys have features that feed imaginations:
                    the beautiful stitching on Jessie and Bullseye can survive the roughest of play; the durable pieces
                    of Mr. and Mrs. Potato Head® offer endless combinations; the tireless spring of Slinky® Dog keeps
                    his stretch; the pose-able limbs of Rex give him different looks; Hamm holds an appetite for saving;
                    and the collectible Aliens emit
                    mysterious calls.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Ken </h2>
                <a href="#"><img src="/media/ken.png " class="img-fluid"></a>
                <h5 class="text">Grab your binoculars and join Ken on a safari! A swinging bachelor who's always on the
                    lookout for fun, Ken sports the perfect outfit for his eco-adventure: light blue shorts and a
                    leopard-print shirt with short sleeves sure to keep him cool in the hot sun. And after his exciting
                    expedition, Ken will be ready to hit the dance floor in style. His accessories include a matching
                    scarf, sensible loafers, and a fashion-forward gold belt. Dozens of additional Ken outfits
                    sold separately.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Buttercup</h2>
                <a href="#"><img src="/media/butter.png " class="img-fluid"></a>
                <h5 class="text">Saddle up for fun and let Buttercup lead your child away on a magical adventure. This
                    cuddly unicorn features velvety-soft, snow-colored fur with sparkly gold and pink accents. He sports
                    a signature mythical golden horn and a fun-to-comb mane and tail. Buttercup’s durable plastic eyes
                    are both charming and scratch resistant. Hypoallergenic. Ages 3 and up.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Dolly</h2>
                <a href="#"><img src="/media/dolly.png " class="img-fluid"></a>
                <h5 class="text">Dolly is a soft and sweet dress-up rag doll, the perfect gift for any young child. Her
                    floppy body and sunny smile will make her an irresistible new member of your family. Dolly has
                    purple hair, googly eyes, and gently blushing cheeks. She comes with a pretty blue dress, but
                    templates are included to create and sew your own custom outfits. Machine washable on gentle cycle.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Mr. Pricklepants</h2>
                <a href="#"><img src="/media/prickle.png " class="img-fluid"></a>
                <h5 class="text">Frolic your afternoons away on woodland adventures with Mr. Pricklepants. This charming
                    lederhosen-wearing hedgehog is from the Waldfreunde collection of premium imported plush toys. He
                    may look prickly, but the plump and fuzzy Mr. Pricklepants is made strictly for cuddling. Hand wash
                    and air dry. Restore fluffiness with fingers. Made in Germany.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Peas-In-A-Pod</h2>
                <a href="#"><img src="/media/peas.png " class="img-fluid"></a>
                <h5 class="text">Peas-in-a-Pod will quickly become a parent’s favorite on-the-go toy. The soft, plush pod secures the happy peas inside with a durable metal zipper, making it perfect for the car or stroller. The Peas-in-a-Pod plush toy also develops fine motor skills by catering to a child’s natural grab instinct. Pulling the three peas out of the pod will provide repeated enjoyment for infants and toddlers, and soon they’ll learn to put them back in! Machine washable.
                    Not for human consumption.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Big Baby</h2>
                <a href="#"><img src="/media/baby.png " class="img-fluid"></a>
                <h5 class="text">Your little one will love this lifelike baby doll with his soft, cuddly fabric body and vinyl arms, legs, and face. With dazzling blue eyes that open and close, this realistic baby encourages nurturing play. Eighteen inches tall, he comes dressed in an adorable yellow onesie with a matching bonnet and has his own magical bottle of milk that disappears while he drinks. A perfect first doll for your special child. Machine washable on gentle cycle. Flame retardant.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Chunk</h2>
                <a href="#"><img src="/media/chunk.png " class="img-fluid"></a>
                <h5 class="text">Chunk will rock your world. This gargantuan creature sports protective shoulder spikes, while his ferocious fists are ready to smash whatever enemy gets in his way. Chunk’s oversized limbs are fully pose-able, making him ready for hours of imaginative fun. As an added bonus, the press of a hidden head spike will spin Chunk's facial expression from friendly to fierce. No
                    batteries necessary.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Andy</h2>
                <a href="#"><img src="/media/andy.png " class="img-fluid"></a>
                <h5 class="text">Andy—Buzz and Woody’s kind, imaginative young owner—is now nearly 18 years old and just days away from heading to college. His bedroom walls, once covered with Buzz Lightyear posters, are now plastered with images of sports cars, rock bands, and skateboarders. Although Andy no longer brings his old toys out from the chest for playtime, he hasn’t been able to bring himself to get rid of them. With his imminent departure looming, and his mom's prodding, the time has come for Andy to decide the fate of his favorite toys.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Bonnie</h2>
                <a href="#"><img src="/media/bonnie.png " class="img-fluid"></a>
                <h5 class="text">Bonnie is a 4-year-old girl who goes to Sunnyside Daycare. Although shy when around many adults, she is full of energy and creativity. She loves to wear lots of textures and colors, like her pink tutu with yellow boots and a blue backpack. She's filled with imagination that helps her create endless new games and scenarios with her toys. She can never have too many toys because those that she has will always be loved, well cared for, and—best of all—played with. 
                </h5>
                <hr>
            </div>
        </div>
    </div>

    <div class="btt-button shadow-sm rounded-0 border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
    {% endblock %}
    {% block postloadjs %}
        {{ block.super }}
        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>
    {% endblock %}