{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead8">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="{{ MEDIA_URL }}toy4-logo.jpg "class="img-fluid"></a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1 card1"style="margin-top: 2.5rem;">
            <h5 class="text text-center"> Woody has always been confident about his place in the world and that his priority is taking care of his kid, whether that’s Andy or Bonnie. But when Bonnie adds a reluctant new toy called “Forky” to her room, a road trip adventure alongside old and new friends will show Woody how big the world can be for a toy. 
            </h5>
            <hr>
            <h2 class="trailers"> Trailers</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/3_Z8wKv6oPk" allowfullscreen>
                </iframe>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Woody</h2>
                <a href="#"><img src="{{ MEDIA_URL }}woody.png "class="img-fluid"></a>
                <h5 class="text">Woody is the same pull-string cowboy sheriff that Andy fell in love with years ago. He’s found a new home with Bonnie and her toys, and he’ll do anything to make sure she’s happy and they’re all taken care of. But an unexpected reunion with his dear friend Bo Peep shows Woody that the world is much bigger than he ever imagined.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Bo Peep</h2>
                <a href="#"><img src="{{ MEDIA_URL }}bo-beep.png "class="img-fluid"></a>
                <h5 class="text">Bo Peep is a long-lost friend of Woody, Buzz and the gang, who always shared a special connection with Woody while residing with her sheep on a lamp base at Andy’s house. After being separated for years, Bo has become chipped and discarded, but her spirit is far from broken. She has grown into an adventure-seeking free spirit whose strength and sarcasm belie her delicate porcelain exterior. When she and Woody are reunited under unlikely circumstances, Bo realizes just how much she’s missed him, and can’t wait to show him what she’s been up to. 
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Forky </h2>
                <a href="#"><img src="{{ MEDIA_URL }}forky.png "class="img-fluid"></a>
                <h5 class="text">Forky is not a toy! At least that’s what he thinks. An actual spork-turned-craft-project, Forky is pretty sure that he doesn’t belong in Bonnie’s room. Unfortunately, every time he tries to get away, someone yanks him back into an adventure he’d rather skip. 
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Gabby Gabby</h2>
                <a href="#"><img src="{{ MEDIA_URL }}gabby.png "class="img-fluid"></a>
                <h5 class="text">Gabby Gabby is an adorable, talking pull-string doll from the 1950s. But unfortunately for her, a manufacturing defect in her pull-string voice box has left her sounding anything but adorable. She has spent more than 60 years forgotten in the depths of a jam-packed antique store—her only companions are a band of voiceless ventriloquist dummies. Gabby Gabby knows someone will want her if only she can find a working voice box to repair hers. 
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Buzz Lightyear </h2>
                <a href="#"><img src="{{ MEDIA_URL }}buzz.png "class="img-fluid"></a>
                <h5 class="text">Buzz Lightyear is loyal not only to his owner, but to the friends he’s made along the way—especially his once-rival Woody who’s like a brother to the ace Space Ranger these days. Buzz would do anything to support his pull-string buddy, but when his efforts land him in a carnival game booth as an inadvertent prize, he turns to his inner voice for guidance. 
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Ducky and Bunny</h2>
                <a href="#"><img src="{{ MEDIA_URL }}bunny.png "class="img-fluid"></a>
                <h5 class="text">Ducky and Bunny are carnival prizes who are eager to be won. But when their plans are rudely interrupted, they find themselves on an unexpected adventure with a group of toys who have no idea what it feels like to be tacked to a prize wall. 
                </h5>
                <hr>           
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Combat Carl</h2>
                <a href="#"><img src="{{ MEDIA_URL }}carl.png "class="img-fluid"></a>
                <h5 class="text">Combat Carl teams up with Combat Carl and Combat Carl in “Toy Story 4.” The trio is part of a band of lost toys who, like Bo Peep, seek out opportunities to be played with wherever kids are likely to gather: playgrounds, parks and the occasional outdoor birthday party. The Carls know from experience that parties with piñatas are particularly fun.
                </h5>
                <hr>           
        </div>
    </div>
</div>

<div class="btt-button shadow-sm rounded-0 border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
{% endblock %}