{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead19">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="/media/up-logo.jpeg "class="img-fluid"></a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1 card1" style="margin-top: 2.5rem;">
            <h5 class="text text-center"> A 78-year-old curmudgeonly balloon salesman, is not your average hero. When he ties thousands of balloons to his house and flies away to the wilds of South America, he finally fulfills his lifelong dream of adventure. But after Carl discovers an 8-year-old stowaway named Russell, this unlikely duo soon finds themselves on a hilarious journey in a lost world filled with danger and surprises.
            </h5>
            <hr>
            <h2 class="trailers"> Trailers</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/vWapgqedDBM" allowfullscreen>
                </iframe>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Carl Fredricksen  </h2>
                <a href="#"><img src="/media/carl-up.png " class="img-fluid"></a>
                <h5 class="text">Carl Fredricksen is not your average hero. He's a retired balloon salesman who, at the age of 78, is forced to leave the house he and his late wife Ellie built together. But instead of moving into the old folks' home, Carl takes action. He ties thousands of balloons to the roof, lifts the house into the air, and sets off toward South America, finally fulfilling the promise he made to his wife so many years before.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Russell </h2>
                <a href="#"><img src="/media/russell.png " class="img-fluid"></a>
                <h5 class="text">Russell is an enthusiastic and persistent 8-year-old Junior Wilderness Explorer from Tribe 54, Sweat Lodge 12. Armed with a backpack laden with official Wilderness Explorer camping gear, Russell is ready for the wilderness! There's just one catch: he's never actually left the city. All his knowledge of the outdoors comes from books, and his sole camping experience was in his own living room.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Dug </h2>
                <a href="#"><img src="/media/dug.png " class="img-fluid"></a>
                <h5 class="text">Dug is a lovable golden retriever living in the wilds of Paradise Falls as part of the dog pack searching for a rare flightless bird. Like the rest of his pack, Dug is outfitted with a remarkable high-tech collar that translates his thoughts into speech. But Dug is mocked as the nerd of the pack. Sent into the jungle on a "special" mission, Dug accidentally succeeds when he discovers the bird following Carl and Russell. As they are pursued through the jungle by his own pack, the sweet but simple-minded Dug must decide which pack he actually belongs to.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Kevin</h2>
                <a href="#"><img src="/media/kevin.png " class="img-fluid"></a>
                <h5 class="text">Named by Russell, this extremely rare, 13-foot-tall flightless bird is hidden from the world in her remote Paradise Falls habitat. With brilliant iridescent feathers and a long, flexible neck, Kevin is exceptionally fast and nimble despite her size. In fact, the massive bird often gets into some very curious and seemingly impossible positions.
                 Very few know that this scientifically invaluable creature exists, but Carl and Russell stumble upon the bird, and Russell names her Kevin after he discovers they share a sweet tooth. Kevin and Russell bond instantly, and despite the bird's propensity to swallow Carl's walker, Kevin joins the jungle's latest and most unlikely pack along with Carl, Russell and Dug.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Charles F. Muntz </h2>
                <a href="#"><img src="/media/muntz.png " class="img-fluid"></a>
                <h5 class="text">In the early 1930s, rich, clever, and handsome Charles F. Muntz is a beacon of hope for a down-and-out American public. He inspires his biggest fans, youngsters Carl and Ellie, to parrot his famous mantra "adventure is out there!" Traveling the globe many times over in his massive self-designed airship, he discovers the world's treasures: priceless historic relics, amazing scientific discoveries, and exotic flora and fauna never before seen. But when Muntz brings home the skeleton of a fantastic 13-foot-tall creature from a remote mountain in South America, he is discredited by scientists. Vowing to prove them wrong, Muntz returns to South America, swearing to bring back a live specimen, and he won't come back
                    until he does!
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Alpha Pack</h2>
                <a href="#"><img src="/media/alpha.png " class="img-fluid"></a>
                <h5 class="text">Deep in the jungles of Paradise Falls resides a dog pack on a mission to capture a rare bird that their master is pursuing. Just like their rejected comrade Dug, all the pack dogs have high-tech collars that give them unusual abilities especially designed for sinister hunting expeditions, including GPS tracking and translating their thoughts into speech.

                    Alpha, the pack leader, is a menacing-looking, black-as-night Doberman Pinscher with authority entrusted to him by their master that no one dares question. Beta, a tough Rottweiler, is Alpha's lieutenant, and Gamma, a rough-and-tumble bulldog, is his hench-dog. Nothing will detract the pack from its mission—except maybe
                    a squirrel.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Ellie</h2>
                <a href="#"><img src="/media/ellie.png " class="img-fluid"></a>
                <h5 class="text">Ellie is an exuberant, adventurous girl who dreams of exploring the world. She and Carl first bond over their shared admiration for legendary explorer Charles F. Muntz. They pledge to travel together to Paradise Falls—the world's tallest waterfall, deep in the South American rainforest. As the couple settle into their married life, their grandiose plans are set aside as they navigate the ups and downs of their everyday lives.
                </h5>
                <hr>
            </div>
        </div>
    </div>

    <div class="btt-button shadow-sm rounded-0 border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
    {% endblock %}
    {% block postloadjs %}
        {{ block.super }}
        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>
    {% endblock %}