{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="masthead20">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    </div>
</header>
{% endblock %}

{% block content %}

<div class='luca-logo'>
    <a href="#"><img src="/media/walle-logo.jpg " class="img-fluid"></a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1 card1" style="margin-top: 2.5rem;">
            <h5 class="text text-center"> What if mankind had to leave Earth and somebody forgot to turn the last robot off? After hundreds of years doing what he was built for, WALL•E discovers a new purpose in life when he meets a sleek search robot named EVE. EVE comes to realize that WALL•E has inadvertently stumbled upon the key to the planet's future, and races back to space to report to the humans. Meanwhile, WALL•E chases EVE across the galaxy and sets into motion one of the most imaginative adventures ever brought to the big screen.
            </h5>
            <hr>
            <h2 class="trailers"> Trailers</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/5O9ikywnW6M" allowfullscreen>
                </iframe>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">WALL•E </h2>
                <a href="#"><img src="/media/walle.png " class="img-fluid"></a>
                <h5 class="text">WALL•E (Waste Allocation Load Lifter Earth-Class) is the last robot left on Earth, programmed to clean up the planet, one trash cube at a time. However, after 700 years, he’s developed one little glitch—a personality. He’s extremely curious, highly inquisitive, and a little lonely.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">EVE </h2>
                <a href="#"><img src="/media/eve.png " class="img-fluid"></a>
                <h5 class="text">EVE (Extra-Terrestrial Vegetation Evaluator) is a sleek, state-of-the-art probe-droid. She’s fast, she flies, and she’s equipped with a laser gun. EVE, also called Probe One by the captain of the Axiom (the enormous luxury mother ship which houses thousands of displaced humans), is one of a fleet of similar robots sent to Earth on an undisclosed scanning mission.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">M-O  </h2>
                <a href="#"><img src="/media/mo.png " class="img-fluid"></a>
                <h5 class="text">M-O (Microbe-Obliterator) is a cleaner-bot programmed to clean anything that comes aboard the Axiom that is deemed a “foreign contaminant.” M-O travels speedily around the Axiom on his roller ball, cleaning the dirty objects he encounters.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Auto</h2>
                <a href="#"><img src="/media/auto.png " class="img-fluid"></a>
                <h5 class="text">Auto is the Axiom’s autopilot, who has piloted the ship through all of its 700 years in space. A carefully programmed robot in the form of the ship’s steering wheel, Auto’s manner is cold, mechanical, and seemingly dutiful to the captain. Unknown to all the Axiom crew, a hidden mandate exists in Auto’s programming. Auto is determined to execute these secret orders at any cost, regardless of the consequences for the inhabitants of the Axiom.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">Captain </h2>
                <a href="#"><img src="/media/captain.png " class="img-fluid"></a>
                <h5 class="text">Captain is the current commander of the Axiom. Trapped in a routine, like WALL•E, the captain longs for a break in the tiresome cycle of his so-called life. His uneventful duties are simply checking and rechecking the ship’s status with Auto, the autopilot. When he is informed of a long-awaited discovery by one of the probe-droids, he discovers his inner calling to become the courageous leader he never could have imagined and plots a new course for humanity.
                </h5>
                <hr>
            </div>
            <div class="text-center characters">
                <h2 class="trailers">John and Mary</h2>
                <a href="#"><img src="/media/john.png " class="img-fluid"></a>
                <h5 class="text">John and Mary are two of the humans living on the Axiom, where they have settled into a life of pampered luxury. The arrival of WALL•E jolts them from their daily routines and causes them to realize the existence of one another, and that there may be more to life than floating around on their high-tech deck chairs.
                </h5>
                <hr>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
    {% endblock %}
    {% block postloadjs %}
        {{ block.super }}
        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>
    {% endblock %}